:root {
  --color-pokemon-yellow: #ffcb05;
  --color-pokemon-blue: #3466af;
  --color-Normal-Type: #a8a77a;
  --color-Fire-Type: #ee8130;
  --color-Water-Type: #6390f0;
  --color-Electric-Type: #f7d02c;
  --color-Grass-Type: #7ac74c;
  --color-Ice-Type: #96d9d6;
  --color-Fighting-Type: #c22e28;
  --color-Poison-Type: #a33ea1;
  --color-Ground-Type: #e2bf65;
  --color-Flying-Type: #a98ff3;
  --color-Psychic-Type: #f95587;
  --color-Bug-Type: #a6b91a;
  --color-Rock-Type: #b6a136;
  --color-Ghost-Type: #735797;
  --color-Dragon-Type: #6f35fc;
  --color-Dark-Type: #705746;
  --color-Steel-Type: #b7b7ce;
  --color-Fairy-Type: #d685ad;
}

.outer-wrapper {
  background-size: 200% 200%;
  /* background-image: linear-gradient(
    -90deg,
    rgb(206, 128, 240),
    rgb(123, 235, 255),
    rgb(243, 128, 228),
    rgb(155, 248, 143)
  ); */
  width: 100%;
  animation: background 15s ease infinite;
}

.outer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
